PORT=8080
APP_ENV=local
STORAGE_DIR=/data

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=jasper
DB_USERNAME=jasper
DB_PASSWORD=
DB_SCHEMA=public

DATABASE_URL=postgres://jasper:@localhost:5432/jasper?search_path=public&sslmode=disable
DBMATE_MIGRATIONS_DIR=./db/migrations

CERTIFICATE_PUBLIC_KEY=./certs/cert.pem
CERTIFICATE_PRIVATE_KEY=./certs/key.pem

REDIS_ADDR=
REDIS_PORT=
REDIS_PASSWORD=

ADMIN_ENDPOINT_ENABLED=false
ADMIN_ENDPOINT_KEY=123